<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_DonNghiPhep</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_DonNghiPhep.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" integrity="sha512-QfDd74mlg8afgSqm3Vq2Q65e9b3xMhJB4GZ9OcHDVy1hZ6pqBJPWWnMsKDXM7NINoKqJANNGBuVRIpIJ5dogfA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
  
    <style>
        /* Đảm bảo body và html chiếm toàn bộ chiều cao */
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header class="container">
            <partial name="_NavbarPartial" />
        </header>
    }

    <partial name="_AlertMessagePartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalMessage">
                    <!-- hiển thị thông báo nghỉ việc -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="closeNotificationModal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        
        $('form').submit(function () {
            $('input').each(function () {
                $(this).val($.trim($(this).val())); // Trim dữ liệu trước khi submit
            });
        });


        setTimeout(function () {
            $(".alert").alert("close");
        }, 3000);

        
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/notificationHub")
            .build();

        connection.start().then(() => {
            console.log("SignalR connected!");

            const userRole = '@User.FindFirst("role")?.Value';
            connection.invoke("JoinGroup", userRole);
        });

        connection.on("ReceiveNotification", function (message) {
       
            document.getElementById('modalMessage').innerText = message;
            const notificationModal = new bootstrap.Modal(document.getElementById('notificationModal'));
            notificationModal.show();
        });

        document.getElementById('closeNotificationModal').addEventListener('click', function () {
            //reload lại trang web
            location.reload();
        });
    </script>
</body>
</html>
