USE [Web_DonNghiPhep]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_id] [nvarchar](450) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[ManagerId] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ParentId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentEmployee]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentEmployee](
	[DepartmentId] [nvarchar](450) NOT NULL,
	[EmployeeId] [nvarchar](20) NOT NULL,
	[EmployeeIsManager] [bit] NOT NULL,
 CONSTRAINT [PK_DepartmentEmployee] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Dob] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Title_id] [nvarchar](450) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveBalance]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveBalance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_id] [nvarchar](20) NULL,
	[Year] [int] NOT NULL,
	[TotalDays] [int] NOT NULL,
	[UsedDays] [int] NOT NULL,
	[RemainingDays] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_LeaveBalance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequest]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_id] [nvarchar](20) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ApprovedById] [nvarchar](20) NULL,
	[DepartmentId] [nvarchar](450) NULL,
	[NextApproverId] [nvarchar](20) NULL,
 CONSTRAINT [PK_LeaveRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Action] [nvarchar](255) NOT NULL,
	[ActionTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Title]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[Title_id] [nvarchar](450) NOT NULL,
	[Title_name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[Title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [uniqueidentifier] NOT NULL,
	[Employee_ID] [nvarchar](20) NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/30/2024 1:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241221174108_InitialDB', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241221191320_Updatedb_v1', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241222181957_Updatedb_v2', N'9.0.0')
GO
INSERT [dbo].[Department] ([Department_id], [DepartmentName], [ManagerId], [CreatedAt], [UpdatedAt], [ParentId]) VALUES (N'DEP001', N'Phòng Nhân Sự', NULL, CAST(N'2024-12-22T00:52:32.6433333' AS DateTime2), CAST(N'2024-12-22T00:52:32.6433333' AS DateTime2), NULL)
INSERT [dbo].[Department] ([Department_id], [DepartmentName], [ManagerId], [CreatedAt], [UpdatedAt], [ParentId]) VALUES (N'DEP002', N'Phòng Kế Toán', N'EMP003', CAST(N'2024-12-22T00:52:32.6433333' AS DateTime2), CAST(N'2024-12-23T12:53:24.3211373' AS DateTime2), NULL)
INSERT [dbo].[Department] ([Department_id], [DepartmentName], [ManagerId], [CreatedAt], [UpdatedAt], [ParentId]) VALUES (N'DEP003', N'Phòng Kỹ Thuật', NULL, CAST(N'2024-12-22T00:52:32.6433333' AS DateTime2), CAST(N'2024-12-22T00:52:32.6433333' AS DateTime2), NULL)
GO
INSERT [dbo].[DepartmentEmployee] ([DepartmentId], [EmployeeId], [EmployeeIsManager]) VALUES (N'DEP004', N'EMP003', 0)
INSERT [dbo].[DepartmentEmployee] ([DepartmentId], [EmployeeId], [EmployeeIsManager]) VALUES (N'DEP004', N'EMP004', 1)
INSERT [dbo].[DepartmentEmployee] ([DepartmentId], [EmployeeId], [EmployeeIsManager]) VALUES (N'DEP004', N'EMP005', 0)
GO
INSERT [dbo].[Employee] ([Employee_ID], [FullName], [Dob], [Email], [PhoneNumber], [Title_id]) VALUES (N'EMP002', N'Trần Thị Bình', CAST(N'1992-02-02T00:00:00.0000000' AS DateTime2), N'tranthibinh@example.com', N'0987654322', N'tp')
INSERT [dbo].[Employee] ([Employee_ID], [FullName], [Dob], [Email], [PhoneNumber], [Title_id]) VALUES (N'EMP003', N'Lê Văn Cường', CAST(N'1985-03-03T00:00:00.0000000' AS DateTime2), N'levancuong@example.com', N'0987654323', N'nv')
INSERT [dbo].[Employee] ([Employee_ID], [FullName], [Dob], [Email], [PhoneNumber], [Title_id]) VALUES (N'EMP004', N'Phạm Thị Dung', CAST(N'1998-04-04T00:00:00.0000000' AS DateTime2), N'phamthidung@example.com', N'0987654324', N'tp')
GO
SET IDENTITY_INSERT [dbo].[LeaveBalance] ON 

INSERT [dbo].[LeaveBalance] ([Id], [Employee_id], [Year], [TotalDays], [UsedDays], [RemainingDays], [UpdatedAt]) VALUES (1, N'EMP005', 2024, 15, 2, 13, CAST(N'2024-12-25T23:01:13.6634471' AS DateTime2))
INSERT [dbo].[LeaveBalance] ([Id], [Employee_id], [Year], [TotalDays], [UsedDays], [RemainingDays], [UpdatedAt]) VALUES (2, N'EMP003', 2024, 15, 0, 15, CAST(N'2024-12-25T22:46:54.1928827' AS DateTime2))
INSERT [dbo].[LeaveBalance] ([Id], [Employee_id], [Year], [TotalDays], [UsedDays], [RemainingDays], [UpdatedAt]) VALUES (3, N'NVIT001', 2023, 16, 0, 16, CAST(N'2024-12-25T22:46:35.5668264' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LeaveBalance] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveRequest] ON 

INSERT [dbo].[LeaveRequest] ([Id], [Employee_id], [StartDate], [EndDate], [Reason], [Status], [CreatedAt], [UpdatedAt], [ApprovedById], [DepartmentId], [NextApproverId]) VALUES (1, N'EMP005', CAST(N'2024-12-19T00:00:00.0000000' AS DateTime2), CAST(N'2024-12-20T00:00:00.0000000' AS DateTime2), N'nghỉ ốm', N'Approved', CAST(N'2024-12-19T00:00:00.0000000' AS DateTime2), CAST(N'2024-12-19T00:00:00.0000000' AS DateTime2), N'EMP002', N'DEP004', N'EMP002')
INSERT [dbo].[LeaveRequest] ([Id], [Employee_id], [StartDate], [EndDate], [Reason], [Status], [CreatedAt], [UpdatedAt], [ApprovedById], [DepartmentId], [NextApproverId]) VALUES (2, N'EMP005', CAST(N'2024-05-19T00:00:00.0000000' AS DateTime2), CAST(N'2024-05-20T00:00:00.0000000' AS DateTime2), N'đi ăn đám cưới bên cồn', N'Pending', CAST(N'2024-12-24T01:58:54.9848841' AS DateTime2), CAST(N'2024-12-24T01:58:54.9849258' AS DateTime2), NULL, N'DEP004', N'EMP004')
INSERT [dbo].[LeaveRequest] ([Id], [Employee_id], [StartDate], [EndDate], [Reason], [Status], [CreatedAt], [UpdatedAt], [ApprovedById], [DepartmentId], [NextApproverId]) VALUES (5, N'EMP003', CAST(N'2024-10-09T00:00:00.0000000' AS DateTime2), CAST(N'2024-10-10T00:00:00.0000000' AS DateTime2), N'đi ăn đám giỗ bên cồn', N'Pending', CAST(N'2024-10-09T00:00:00.0000000' AS DateTime2), CAST(N'2024-10-09T00:00:00.0000000' AS DateTime2), NULL, N'DEP004', N'EMP004')
SET IDENTITY_INSERT [dbo].[LeaveRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (2, N'Quản lý')
INSERT [dbo].[Role] ([Role_ID], [Role_Name]) VALUES (3, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Title] ([Title_id], [Title_name]) VALUES (N'gd', N'Giám đốc')
INSERT [dbo].[Title] ([Title_id], [Title_name]) VALUES (N'nv', N'Nhân viên')
INSERT [dbo].[Title] ([Title_id], [Title_name]) VALUES (N'tp', N'Trưởng phòng')
GO
INSERT [dbo].[User] ([UserID], [Employee_ID], [UserName], [Password], [Status], [created_at], [updated_at]) VALUES (N'df5ce10f-ed09-45ec-8bfb-126381c6dda7', N'EMP002', N'quanly01', N'Password123', 1, CAST(N'2024-12-22T00:57:07.1500000' AS DateTime2), CAST(N'2024-12-29T02:38:49.6025444' AS DateTime2))
INSERT [dbo].[User] ([UserID], [Employee_ID], [UserName], [Password], [Status], [created_at], [updated_at]) VALUES (N'2dd97819-f8a1-4fec-bcb9-5e6bbd1a73fd', N'NVIT005', N'NVIT002', N'Admin123', 1, CAST(N'2024-12-28T01:57:03.0709531' AS DateTime2), CAST(N'2024-12-28T01:57:03.0710184' AS DateTime2))
INSERT [dbo].[User] ([UserID], [Employee_ID], [UserName], [Password], [Status], [created_at], [updated_at]) VALUES (N'17853819-cf92-4540-a04f-6ff8f949ab93', N'EMP005', N'nhanvien02', N'password123', 1, CAST(N'2024-12-22T00:57:07.1500000' AS DateTime2), CAST(N'2024-12-22T01:31:54.7238285' AS DateTime2))
GO
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (N'1e975144-0ced-4a2c-8afa-80308d518212', 1)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (N'df5ce10f-ed09-45ec-8bfb-126381c6dda7', 2)
INSERT [dbo].[UserRole] ([UserID], [RoleID]) VALUES (N'fb0c861f-4205-4838-83b6-997182d72042', 2)
GO
ALTER TABLE [dbo].[DepartmentEmployee] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EmployeeIsManager]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Department_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Department] ([Department_id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Department_ParentId]
GO
ALTER TABLE [dbo].[DepartmentEmployee]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentEmployee_Department_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Department_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentEmployee] CHECK CONSTRAINT [FK_DepartmentEmployee_Department_DepartmentId]
GO
ALTER TABLE [dbo].[DepartmentEmployee]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentEmployee_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Employee_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentEmployee] CHECK CONSTRAINT [FK_DepartmentEmployee_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Title_Title_id] FOREIGN KEY([Title_id])
REFERENCES [dbo].[Title] ([Title_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Title_Title_id]
GO
ALTER TABLE [dbo].[LeaveBalance]  WITH CHECK ADD  CONSTRAINT [FK_LeaveBalance_Employee_Employee_id] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Employee_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveBalance] CHECK CONSTRAINT [FK_LeaveBalance_Employee_Employee_id]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_Department_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Department_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_Department_DepartmentId]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_Employee_ApprovedById] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_Employee_ApprovedById]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_Employee_Employee_id] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Employee_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_Employee_Employee_id]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequest_Employee_NextApproverId] FOREIGN KEY([NextApproverId])
REFERENCES [dbo].[Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_LeaveRequest_Employee_NextApproverId]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_User_UserId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Employee_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employee] ([Employee_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Employee_Employee_ID]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([Role_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role_RoleID]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User_UserID]
GO
