@model Web_DonNghiPhep.Models.LeaveBalance

@{
    ViewData["Title"] = "Create";
}


<h4>Tạo mới ngày nghỉ nhân viên</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee_ids" class="control-label"></label>
                <select asp-for="Employee_ids" class="form-control" asp-items="ViewBag.Employee_id" multiple></select>
                <span asp-validation-for="Employee_ids" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Year" class="control-label"></label>
                @* <input asp-for="Year" class="form-control" /> *@
                <select asp-for="Year" class="form-control" asp-items="@(new SelectList(ViewBag.Years))"></select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDays" class="control-label"></label>
                <input asp-for="TotalDays" class="form-control" />
                <span asp-validation-for="TotalDays" class="text-danger"></span>
            </div>
           
            <div class="form-group my-2">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Trở lại</a>

            </div>
        </form>
    </div>
</div>


