@model Web_DonNghiPhep.Models.Department

@{
    ViewData["Title"] = "Edit";
}


<h4>Chỉnh sửa phòng ban</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Department_id" />
            <div class="form-group my-2">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <select class="form-control" asp-for="ManagerId" asp-items="@ViewBag.Employee"></select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" class="form-control" asp-items="@ViewBag.DepartmentParent">
                    <option value="">Chọn phòng ban cấp trên</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            
            <div class="form-group  my-2">
                <input type="submit" value="Lưu" class="btn btn-warning" />
                <a class="btn btn-secondary" asp-action="Index">Trở lại</a>
            </div>
        </form>
    </div>
</div>


