@model Web_DonNghiPhep.ViewModels.UserVM
@{
    ViewBag.Title = "Đăng nhập";
}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
        <h3 class="text-center mb-4">Đăng nhập</h3>
        <form asp-controller="Users" asp-action="Login" method="post">
            <div class="mb-3">
                <label for="Username" class="form-label">Tên đăng nhập</label>
                <input type="text" asp-for="UserName" class="form-control" id="Username" placeholder="Nhập tên đăng nhập">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu</label>
                <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Nhập mật khẩu">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>

        </form>
    </div>
</div>
